@using WebApplication1.Models
@model List<Question>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<style>
    .ques {
        text-align: justify;
        padding-right: 12px;
        margin-bottom: 18px;
    }

    .que-text {
        border-left: 3px solid red;
        padding-left: 10px;
    }

    .likeicon {
        text-align: right;
        color: darkgrey;
        cursor: pointer;
    }

    .red {
        color: red !important;
    }
</style>
@if (Model.Count == 0)
{
    <div class="ques" style="color:indigo">
        <h3>Who care ...</h3>
    </div>
}


@foreach (var item in Model)
{
    <div class="ques">

        <h6 class="que-text">
            @item.Que
        </h6>


        <div class="row">
            <p class="col-1"></p><p class="col-11">@item.Answer.Ans</p>
        </div>
        

        <div class="likeicon d-block @(Html.Raw(((User)Session["user"]).LikedAnswers.Contains(item.Answer)?"red":"")) ">
            <input type="hidden" class="answerid" value="@item.Answer.AnswerId" />
            <i class="fas fa-heart"> <span style="color:crimson">@item.Answer.likeCount</span></i>
        </div>

    </div>
}

<script>
    $('.likeicon').click( function()
{
    var isLiked = $(this).hasClass('red');
    var url="";
    if(isLiked){url="@Url.Action("LikeRemove", "Answer")";}else{url="@Url.Action("LikeAdd","Answer")";}

    var answerid = $(this).parent('.ques').find('.answerid').val();

    
    $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        answerid: answerid,
                    },
                    cache: false,
                    success: function() {}
                    });

    $(this).toggleClass('red');

    })




</script>





