@using WebApplication1.Models
@model User

<style>
    .col-4:hover {
        cursor: pointer;
    }
</style>

<div id="bigusercard" style="margin:10px; background:white !important">
    <div class="col-12" style="height:auto; border:3px solid purple; border-radius:10px; margin-top:10px; box-shadow: 5px 5px 8px 2px #888888;">

        <div class="container" style="margin-top:15px;">
            <div class="pp-pn-nn">
                <div class="profilpic">
                    @if (Model.UserImage != null)
    {
                <div>
                    <img src="data:image;base64,@Convert.ToBase64String(Model.UserImage.Image)" />
                </div>
}
                </div>

                <div class="pname-pnick">
                    <h3 class="namesurname">@(Model.Name + " " + Model.Surname)</h3>
                    <h2 class="nick">@@@Model.NickName</h2>
                </div>

                <div>
                    @if (((User)Session["user"]) != null && ((User)Session["user"])!=Model)
                    {
                        <button class="follow-btn @Html.Raw(((User)Session["user"]).Following.Contains(Model) ? "unfollow" : "")" value="@Model.UserId">@Html.Raw(((User)Session["user"]).Following.Contains(Model) ? "Unfollow" : "Follow")</button>
                    }
                </div>

                <div class="statistics row" style="margin-top:17px;">
                    <div class="col-4" data-toggle="modal" data-target="#ModalFollowers">
                        <h5>Followers</h5>
                        <h5>@Model.Followers.Count</h5>
                    </div>


                    <div class="col-4">
                        <h5>Answers</h5>
                        <h5>@Model.Questions.Where(q => q.Answer != null).ToList().Count</h5>

                    </div>


                    <div class="col-4" data-toggle="modal" data-target="#ModalFollowing">
                        <h5>Follows</h5>
                        <h5>@Model.Following.Count</h5>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!--FOLLOWERS MODAL-->
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="ModalFollowers" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Your followers</h5>
                    </div>
                    <div class="modal-body">
                        <div style="margin-top:10px;">
                            @foreach (User item in Model.Followers)
                            {
                                @Html.Partial("UserCard", item)
                            }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--FOLLOWING MODAL-->
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="ModalFollowing" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">You are following</h5>
                    </div>
                    <div class="modal-body">
                        <div style="margin-top:15px;">
                            
                                @foreach (User item in Model.Following)
                                {
                                    @Html.Partial("UserCard", item)
                                }
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
